# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment 
.venv/ 
venv/ 
env/ 

# VS Code and IDE 
.vscode/ 
.idea/
*.iml

# Jupyter 
.ipynb_checkpoints/

# Model artifacts
models/*.pt
models/*.pkl


# Data
data/

# OS files 
.DS_Store 
Thumbs.db 

# Environment files 
.env
env/
ENV/

# ETC...
*.exe
*.ttf
*.csv
#*.txt
*.xlsx

