# Python cache 
__pycache__/ 
*.py[cod] 

# Virtual environment 
.venv/ 
venv/ 
env/ 

# VS Code and IDE 
.vscode/ 
.idea/

# Jupyter 
.ipynb_checkpoints/

# OS files 
.DS_Store 
Thumbs.db 

# Environment files 
.env 

# ETC...
*.exe